{% if site.gravatar_hash %}
<section>
  <img src="http://gravatar.com/avatar/{{site.gravatar_hash}}" alt="Gravatar image" title="Gravatar Image" />
  <br/>Hello and welcome.
  <a href="https://twitter.com/lvnilesh" class="twitter-follow-button" data-show-count="true" data-size="large" data-show-screen-name="false">Follow @Cloud_Guru</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <div class="fb-subscribe" data-href="https://www.facebook.com/nilesh.londhe" data-show-faces="true" data-colorscheme="light" data-font="lucida grande" data-width="20"></div>
</section>
{% endif %}
